.bundle
db/*.sqlite3
log/*.log
*.swp
tmp/*

/.vagrant

.env.*
.rvmrc
Capfile
config/deploy.rb
config/environments/stage.rb
.rsync_cache

env.production
assets/.sprockets*
public/assets/.sprockets*

# Ignore encrypted secrets key file.
config/secrets.yml.key

/config/master.key
