#Header .enviroment, #Footer {
  display: none;
}

#Header {
  background: #E0DFDF;
}

#Header h1 {
  color: #585858;
}

table.gridwide {
    width: 100%;
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 0.2em 0.5em;
}

table th {
  text-align: left;
  padding: 0.5em;
}

#collection-info {
    float: right;
    font-weight: bold;
    padding: 4px 6px;
    margin: 1em 0em;
}

div.pagination {
    margin: 1em 0em;
    overflow: hidden;
    position: relative;
}

div.pagination span,
div.pagination em,
div.pagination a {
    display: block;
    float: left;
    padding: 4px 6px;
    border: 1px solid steelblue;
    margin-right: 2px;
    color: steelblue;
    font-weight: bold;
    text-decoration: none;
}

div.pagination span.disabled {
    color: silver;
    border-color: silver;
}

div.pagination em.current {
    float: left;
    background: steelblue;
    color: #fff;
}

div.pagination a {
}

.odd {
    background: none;
}

.even {
    background-color: #F0F0F0;
}
